<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            type="text/css"
            href="styles/pages/pages-style.css"
        />
        <link rel="stylesheet" type="text/css" href="styles/pages/navbar.css" />
        <link
            rel="stylesheet"
            type="text/css"
            href="styles/pages/task-list.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="styles/modal/task-modal.css"
        />
        <!--<link
            rel="stylesheet"
            type="text/css"
            href="widgets/add-task-style.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="widgets/add-project-label-style.css"
        />-->
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,200,0,0"
        />
        <title>Выполненные задачи - Todoist</title>
        <link
            rel="icon"
            type="image/x-icon"
            href="https://images-eds-ssl.xboxlive.com/image?url=4rt9.lXDC4H_93laV1_eHM0OYfiFeMI2p9MWie0CvL99U4GA1gf6_kayTt_kBblFwHwo8BW8JXlqfnYxKPmmBUwv1PH4pdQ7t_SNzEV_.2J3d4JjdkXiNaa0xNklzx5ANhOfXiCoWf71sEOCPn.WJrLE9Qydp5V9jK3_rKBgsq0-&format=source"
        />
    </head>
    <body>
        <%- include('../partials/add-task-modal.ejs') %> <%-
        include('../partials/navbar.ejs') %>

        <main>
            <div id="upper-panel">
                <button id="display">
                    <span class="material-symbols-outlined"> more_horiz </span>
                    Отображение
                </button>
            </div>
            <h2 id="page-name">Выполненные задачи</h2>
            <div id="task-display"></div>
        </main>
    </body>
    <%- include('../partials/scripts.ejs') %>
    <script
        type="module"
        src="./scripts/handlers/changeTaskHandler.js"
    ></script>
</html>
