<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
            rel="stylesheet"
            type="text/css"
            href="styles/pages/user-not-found.css"
        />
    <title>User Not Found</title>
</head>
<body>
    <main>
        <h2>Пользователь не найден</h2>
        <button>
            <a href="/auth/login">Войти в систему</a>
        </button>
    </main>
</body>
</html>