.task {
    background-color: #262626;
    width: 258px;
    color: white;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #3d3d3d;
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.task:hover {
    border-color: #696969;
}

.task-button {
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    padding: 2px;
    border: 2px solid;
}

.task-in {
    width: 100%;
}

.task-des {
    font-size: 12px;
    margin-top: 2px;
}

.task-check {
    font-size: 12px !important;
    font-weight: bolder !important;
}

.task-params span {
    display: block;
}

.task-params {
    font-size: 12px;
    margin: 10px 0;
    color: #674b92;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 2px;
}

.task-datetime {
    color: hsl(264, 32%, 43%);
}

.task-params .material-symbols-outlined {
    font-size: 12px !important;
}

.task-notification {
    color: #4b9253;
}

.task-notification .material-symbols-outlined {
    color: #4b9253 !important;
}

.task-project {
    color: #8a8181;
}

.task-project .material-symbols-outlined {
    color: #8a8181 !important;
}

.task-label {
    color: #f679f8;
}

.task-label .material-symbols-outlined {
    color: #f679f8 !important;
}

.task-empty {
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-empty img {
    width: 450px;
    margin: 100px;
}
