body {
    height: 100%;
    width: 100%;
    position: fixed;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    padding: 25px;
    width: 350px;
    height: 100px;
    background-color: #282828;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

button{
    width: 100%;
    font-size: 14px;
    padding: 5px;
    border: none;
    border-radius:5px;
    font-weight: bolder;  
    background-color: #de4c4a;
    
    > a, a:active{
        color: white;
        text-decoration: none;
    }
}