<dialog id="add-task-modal">
    <form id="add-task-form">
        <div class="task-info">
            <input
                type="text"
                id="taskName"
                name="taskName"
                required
                placeholder="Название задачи"
                autocomplete="off"
            />
            <input
                type="text"
                id="description"
                name="description"
                placeholder="Описание"
                autocomplete="off"
            />
        </div>

        <div class="task-params">
            <input
                placeholder="Срок выполнения"
                type="text"
                onfocus="(this.type='date')"
                onblur="(this.type='text')"
                id="deadline"
                required
            />
            <input
                placeholder="Напоминание"
                type="text"
                onfocus="(this.type='datetime-local')"
                onblur="(this.type='text')"
                id="notification"
            />
            <select id="priority" name="priority">
                <option value="1">Приоритет 1</option>
                <option value="2">Приоритет 2</option>
                <option value="3">Приоритет 3</option>
                <option value="4">Приоритет 4</option>
            </select>

            <select id="label" name="label"></select>
        </div>

        <hr />
        <div class="task-widget-footer">
            <select id="project" name="project">
                <option value="inbox">Входящие</option>
            </select>
            <div id="add-buttons">
                <button id="close-task-widget">Отмена</button>
                <button type="submit" id="add-task-button">
                    Добавить задачу
                </button>
            </div>
        </div>
    </form>
</dialog>
