<dialog class="modal" id="add-task-modal">
    <form id="add-task-form">
        <div class="task-info">
            <input
                type="text"
                id="name"
                name="name"
                required
                placeholder="Название задачи"
                autocomplete="off"
            />
            <input
                type="text"
                id="description"
                name="description"
                placeholder="Описание"
                autocomplete="off"
            />
        </div>

        <div class="task-params">
            <div>
                <label for="deadline">Срок выполнения</label>
                <input type="date" id="deadline" name="deadline" required />
            </div>

            <div>
                <label for="notification">Напоминание</label>
                <input
                    type="datetime-local"
                    name="notification"
                    id="notification"
                />
            </div>

            <div>
                <label for="priority">Приоритет</label>
                <select id="priority" name="priority">
                    <option value="1" style="color: #de4c4a">
                        Приоритет 1
                    </option>
                    <option value="2" style="color: #ffa600">
                        Приоритет 2
                    </option>
                    <option value="3" style="color: #3c00ff">
                        Приоритет 3
                    </option>
                    <option value="4" style="color: #696969">
                        Приоритет 4
                    </option>
                </select>
            </div>

            <div>
                <label for="label">Метка:</label>
                <select id="label" name="label"></select>
            </div>
        </div>

        <hr />
        <div class="task-widget-footer">
            <select id="project" name="project">
                <option value="inbox">Входящие</option>
            </select>
            <div id="add-buttons">
                <button id="close-add-task" class="close">Отмена</button>
                <button type="submit" id="add-task-button">
                    Добавить задачу
                </button>
            </div>
        </div>
    </form>
</dialog>
