<dialog id="add-project-modal">
    <p>Добавить проект</p>
    <form id="add-project-form">
        <div id="project-info">
            <label> Название </label>
            <input
                class="opt"
                type="text"
                id="name"
                name="name"
                required
                autocomplete="off"
            />
            <label> Цвет </label>
            <select
                id="color"
                name="color"
                class="opt"
                style="background-color: #1e1e1e; color: white"
            >
                <option value="#2364aa" style="color: #2364aa">
                    Темно-синий
                </option>
                <option
                    value="#3da5d9"
                    style="background-color: #1e1e1e; color: #3da5d9"
                >
                    Голубой
                </option>
                <option
                    value="#73bfb8"
                    style="background-color: #1e1e1e; color: #73bfb8"
                >
                    Мятный
                </option>
                <option
                    value="#fec601"
                    style="background-color: #1e1e1e; color: #fec601"
                >
                    Желтый
                </option>
                <option
                    value="#ea7317"
                    style="background-color: #1e1e1e; color: #ea7317"
                >
                    Оранжевый
                </option>
            </select>
        </div>

        <hr />
        <div id="add-project-buttons">
            <button id="close-project-modal">Отмена</button>
            <button type="submit" id="add-project-button">
                Добавить проект
            </button>
        </div>
    </form>
</dialog>
