<dialog id="ok-modal">
    <div>
    <span id="ok-text">
        Пользователь зарегистрирован успешно
    </span>
    <button class="close-msg">
    <span class="material-symbols-outlined">
        close
        </span>
    </button>
    </div>
</dialog>