<dialog id="error-modal">
    <div>
    <span id="error-text">
        ОШИБКА
    </span>
    <button>
    <span class="material-symbols-outlined">
        close
        </span>
    </button>
    </div>
</dialog>