<dialog id="error-modal">
    <div>
        <span id="error-text"> ОШИБКА </span>
        <button class="close-msg">
            <span class="material-symbols-outlined"> close </span>
        </button>
    </div>
</dialog>
