#daily-goal-modal {
    border: none;
    border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #6b6b6b;
    background-color: #1e1e1e;
    margin-left: 246px;
    background-color: #1e1e1e;
    width: 300px;
    padding: 15px;

    > #daily-goal-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: white;

        > button span {
            color: white !important;
        }
    }
}

#daily-goal-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;

    color: white;
}

#tasks-done-number,
#daily-goal-number {
    font-size: 18px;
    font-weight: bolder;
}

#change-daily-goal {
    display: flex;
    flex-direction: column;
    justify-content: center;

    > button {
        width: 100%;
        color: white;
        border-radius: 5px;
        background-color: #de4c4a;
        padding: 5px;
        margin-top: 20px;
    }
}

#goal-changer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #6b6b6b;
    border-radius: 5px;
    margin-top: 5px;
    padding: 2px;
    color: white;

    > label {
        font-size: 14px;
    }

    > input {
        width: 20%;
        background-color: #1e1e1e;
        color: #de4c4a;
        font-weight: bold;
        font-size: 16px;
        border: none;
        padding: 5px;
    }
}

.progress-ring {
    display: block;
}

.progress-ring-circle {
    transition: stroke-dashoffset 0s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

.progress-ring-circle.incomplete {
    stroke-dasharray: 0 100;
}

.progress-ring-circle.complete {
    stroke-dasharray: 0 100;
}
