.modal {
    position: fixed;
    top: 45%;
    left: 40%;
    transform: translate(-45%, -40%);
    border-radius: 8px;
    z-index: 1000;
}

#add-task-modal,
#change-task-modal {
    margin-left: 246px;
    background-color: #1e1e1e;
    width: 538px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #6b6b6b;
}

#priority,
#deadline,
#notification,
#project,
#label {
    border: 1px solid #6b6b6b;
    background-color: #1e1e1e;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-size: 12px;
}

#name {
    font-size: 16px;
    font-weight: bolder;
}

#description {
    font-size: 12px;
}

#add-task-modal #name,
#change-task-modal #name,
#description {
    border: none;
    padding: 2px;
    background-color: inherit;
    color: white;
}

input:focus {
    outline: none;
}

.task-info {
    display: flex;
    flex-direction: column;
}

.modal .task-params {
    margin: 5px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;

    > div {
        display: flex;
        flex-direction: column;
        color: white;
        gap: 5px;
    }
}

#add-task-modal hr,
#change-task-modal hr {
    margin: 15px 0 10px 0;
    border-top: 0px solid #6b6b6b;
}

#change-task-modal h2 {
    margin-bottom: 10px;
    font-size: 20px;
    color: white;
}

.task-widget-footer {
    display: flex;
    justify-content: space-between;
}

.add-buttons {
    display: flex;
    justify-content: right;
    gap: 10px;
}

#add-task-button,
#change-task-button {
    border: 1px solid #de4c4a;
    background-color: #de4c4a;
    padding: 5px;
    border-radius: 5px;
}

.close {
    border: 1px solid #363636;
    background-color: #363636;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
